body {
    background-color: azure;
}

li {
}

#ekta {
    border-style: double;
    width: fit-content;
    border-style: double;
    border-width: 2px;
    height: 23px;
    "
}

h1 {
    background-color: black;
    color: white;
    text-align: center;
}

