<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>

    <link href="C:\Users\msi\source\repos\WebApplication3\WebApplication3\Views\first css.css" rel="stylesheet" />



</head>
<body>
<h1>
    Sarvjeet
</h1>
    <h2>
        Thakre
    </h2>
    <h3>
        chhindwara
    </h3>
    <h3>
        inspiration
    </h3>
    <h4>
        Motivation
    </h4>
    <h5>
        Tell us about
    </h5>
    <h6>
        description about myself
    </h6>
    <p style="background-color:blanchedalmond">
        my name is sarvjeet thakre from chhindwara district of madhya pradesh which is very polular and allmost
        first rank in the air quaility index which is quite exciting and also very clean.
    </p>
    <img src="https://www.bing.com/th?id=OIP.TKH-sTOYPrg010xg-ENWLQHaEo&w=316&h=197&c=8&rs=1&qlt=90&o=6&pid=3.1&rm=2" alt="Alternate Text" />
    <br />
    <br />
    <form>
        <div>
            <label>id Name</label>
            <input type="text" id="fn" class="fntest"
        </div>
        <div>
            <label>"Email id"</label>
            <input type="email" id="email" class="emailtest"
        </div>
        <div>
            <label>pass</label>
            <input type="password" id="psw" class="passwordtest" />
        </div>
        <ul>
            <li style="font-family:Calibri"> elc chowk </li>
            <li>nagpur naka</li>
            <li>fawara chowk</li>
            <li>mansarovar complex</li>
            <li>bus stand</li>
        </ul>
        <ol type="1">
            <li id="ekta" >ekta park</li>
            <li >pawar sweets</li>
            <li ">clothes market</li>
            <li ">computer repairs</li>
            <li >bus</li>
        </ol>
        <ol style="list-style-type:circle">
            <li>ekta park</li>
            <li>pawar sweets</li>
            <li>clothes market</li>
            <li>computer repairs</li>
            <li>bus</li>
            <li> <a href="https://www.bing.com/search?q=chhindwara+wiki&form=ANSPH1&refig=97f755c46d9f43c39eb578a7765db4bc&pc=U531">chiindwara wiki </a></li>
        </ol>
        <ol style="list-style-type:square">
            <li> nagpur naka</li>
            <li>vip road</li>
        </ol>
        </form>
        <div>
            <input type="file" />
        
        <input type="checkbox" /> adivasi museum
        <input type="checkbox" /> sahara place
        <input type="checkbox" /> dollson
        <input type="checkbox" /> medical collage
        <input type="reset" /><br />
        <input type="search" />
        <input type="submit"value="register" />
        <button>save</button>
       <input type="color"/> <hr />
       <input type="time"/>
       <input type="datetime"/>
    <input type ="number"/>
    <input type="range"/>
    </div>
    <label> state</label>
    <select>
        <option>mp</option>
        <option>cg</option>
        <option>mh</option>
        <option>up</option>
        <option>bihar</option>
        <option>jharkhand</option>
        <option>gujrat</option>
        <option>kashmir</option>
        <option>punjab</option>
        <option>uttarakhand</option>
    </select>
    <h2>
        elc chowk
    </h2>
</body>
</html>
